body{
    background-color: #212124;
    color: white;
    margin: 0;
}

.banner{
    background-color: black;
    padding: 20px;
}

.App{
    max-width: 1080px;
    width: 100%;
    justify-self: center;
}