$base: #212124;

body{
    margin: 0;
    background-color: $base;
    color: white;
    font-family: math;
}

ul{
        list-style-type: none;
    }

a{
        text-decoration: none;
        color: white;
    }

.banner{
    background-color: black;
    padding: 20px 2%;
    position: fixed;
    width: 96%;
    display: flex;
    height: 50px;
    justify-content: space-between;
    p{
        font-size: 20px;
        font-family: 'Courier New', Courier, monospace;
    }
    ul{
        display: flex;
        gap: 10px;
    }
}

.competences, .projets, .header, .contact{
    max-width: 1080px;
    min-height: 400px;
    padding: 100px 0;
    width: 100%;
    justify-self: center;
}

#competences, #contact{
    background-color: #1c1c1f;
}

.header{
    padding-top: 200px;
}

.competences{
    >div{
        display: flex;  
        justify-content: space-evenly;
    }   
    ul{
        width: 300px;
        height: 75%;
        padding: 20px;
        background-color: white;
        color: $base;
        align-content: center;
        justify-items: center;
        border-radius: 10px;
        li{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            gap: 20px;
            height: 75px;
            width: 100%;
            div, p{
                max-height: 75px;
                width: 45%;
                align-content: center;
            }
            p{
                text-align: right;
            }
            img{
                max-width: 100%;
                max-height: 75px;
            }
        }
    }
}
.projets{
    h2{
        justify-self: right;
    }
    ul{
        width: 100%;
        padding: 0;
        :hover{
                background-color: #20205a;
            }
        li{
            background-color: #0f0f35;
            border-radius: 10px;
            border: 2px black solid;
            width: 100%;
            text-align: center;
            padding: 10px;
            margin: 10px;
            
            h3{
                text-decoration: underline;
            }
        }
    }
}

.NOTRE-PROJET{
    padding-top: 100px;
    text-align: center;
}

.moi{
    height: 300px;
    width: 300px;
    border-radius: 150px;
}

.header{
    align-items: center;
    display: flex;
    gap: 100px;
    justify-content: space-evenly;
    font-size: 25px;
}

h1, h2, h3{
    font-size: 25px;
    font-family: monospace;
}







.caroussel-container{
  width: 80%;
  border-radius: 20px;
  justify-self: center; 
  color: white;
  ul{
    padding: 0;
  }
}

.caroussel-image-number{
  position: absolute;
  padding: 10px;
  background-color: black;
  border-radius: 20px;
  top: 90%;
  z-index: 1;
  font-size: 18px;
}

.caroussel-btn-container{
  width: 75%;
  margin: 0 2%;
  position: absolute;
  top: 50%;
  height: 0;
  z-index: 1;
}

.caroussel-btn{
  font-size: 80px;
  border: none;
  color: white;
  background-color: black;
  padding: 10px 20px;
  border-radius: 50px;
  &:hover{
    cursor: pointer;
  }
}

.hidden{
  display: none !important;
}

.caroussel-img-container{
  overflow: hidden;
}

.caroussel-img{
  max-width: 100%;
  max-height: 1080px;
  border-radius: 20px;
  object-fit: cover;
}

.flexMirror{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}